.ant-table-scroll .ant-table-body {
  overflow: auto !important;
}

th.table_title {
  background-color: #f6f6f6 !important;
}

.left-tabs-container {
  height: 100%;
}
.left-tabs-container > .ant-tabs-card {
  height: 100%;
}
.left-tabs-container > .ant-tabs-card > .ant-tabs-content {
  height: 100%;
  padding: 15px;
}
.left-tabs-container > .ant-tabs-card > .ant-tabs-bar {
  height: 100%;
  border-color: #f0f0f1;
  background-color: #f0f0f1;
}
.left-tabs-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  text-align: left;
  color: #333;
  font-size: 12px;
  border-bottom: none !important;
  border-radius: 0px !important;
  border-color: transparent;
  background-color: transparent;
}
.left-tabs-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background-color: #fff;
}

.ant-tabs-content {
  overflow: auto !important;
}
