html,
body,
#app {
  min-width: 410px;
  height: 100%;
  font-size: 12px;
  font-family: 华文黑体, "Microsoft YaHei", 微软雅黑, STHei, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #333;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color000 {
  color: #000;
}

.color111 {
  color: #111;
}

.color222 {
  color: #222;
}

.color333 {
  color: #333;
}

.color444 {
  color: #444;
}

.color555 {
  color: #555;
}

.color666 {
  color: #666;
}

.color777 {
  color: #777;
}

.color888 {
  color: #888;
}

.color999 {
  color: #999;
}

.color-title {
  color: #555;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-primary {
  color: #1890ff;
}

.color-success {
  color: #52c41a;
}

.color-warning {
  color: #faad14;
}

.color-error {
  color: #f5222d;
}

.color-info {
  color: #909399;
}

.bgf8 {
  background-color: #f8f8f8;
}

.bged {
  background-color: #ededed;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-primary {
  background-color: #1890ff;
}

.bg-success {
  background-color: #52c41a;
}

.bg-warning {
  background-color: #faad14;
}

.bg-error {
  background-color: #f5222d;
}

.font12px {
  font-size: 12px;
}

.font13px {
  font-size: 13px;
}

.font14px {
  font-size: 14px;
}

.font15px {
  font-size: 15px;
}

.font16px {
  font-size: 16px;
}

.font17px {
  font-size: 17px;
}

.font18px {
  font-size: 18px;
}

.font19px {
  font-size: 19px;
}

.font20px {
  font-size: 20px;
}

.font21px {
  font-size: 21px;
}

.font22px {
  font-size: 22px;
}

.font23px {
  font-size: 23px;
}

.font24px {
  font-size: 24px;
}

.font25px {
  font-size: 25px;
}

.font26px {
  font-size: 26px;
}

.font27px {
  font-size: 27px;
}

.font28px {
  font-size: 28px;
}

.font29px {
  font-size: 29px;
}

.font30px {
  font-size: 30px;
}

.pd0 {
  padding: 0;
}

.pd1 {
  padding: 1px;
}

.pd2 {
  padding: 2px;
}

.pd3 {
  padding: 3px;
}

.pd4 {
  padding: 4px;
}

.pd5 {
  padding: 5px;
}

.pd6 {
  padding: 6px;
}

.pd7 {
  padding: 7px;
}

.pd8 {
  padding: 8px;
}

.pd9 {
  padding: 9px;
}

.pd10 {
  padding: 10px;
}

.pd11 {
  padding: 11px;
}

.pd12 {
  padding: 12px;
}

.pd13 {
  padding: 13px;
}

.pd14 {
  padding: 14px;
}

.pd15 {
  padding: 15px;
}

.pd16 {
  padding: 16px;
}

.pd17 {
  padding: 17px;
}

.pd18 {
  padding: 18px;
}

.pd19 {
  padding: 19px;
}

.pd20 {
  padding: 20px;
}

.pd21 {
  padding: 21px;
}

.pd22 {
  padding: 22px;
}

.pd23 {
  padding: 23px;
}

.pd24 {
  padding: 24px;
}

.pd25 {
  padding: 25px;
}

.pd26 {
  padding: 26px;
}

.pd27 {
  padding: 27px;
}

.pd28 {
  padding: 28px;
}

.pd29 {
  padding: 29px;
}

.pd30 {
  padding: 30px;
}

.pdr0 {
  padding-right: 0;
}

.pdr1 {
  padding-right: 1px;
}

.pdr2 {
  padding-right: 2px;
}

.pdr3 {
  padding-right: 3px;
}

.pdr4 {
  padding-right: 4px;
}

.pdr5 {
  padding-right: 5px;
}

.pdr6 {
  padding-right: 6px;
}

.pdr7 {
  padding-right: 7px;
}

.pdr8 {
  padding-right: 8px;
}

.pdr9 {
  padding-right: 9px;
}

.pdr10 {
  padding-right: 10px;
}

.pdr11 {
  padding-right: 11px;
}

.pdr12 {
  padding-right: 12px;
}

.pdr13 {
  padding-right: 13px;
}

.pdr14 {
  padding-right: 14px;
}

.pdr15 {
  padding-right: 15px;
}

.pdr16 {
  padding-right: 16px;
}

.pdr17 {
  padding-right: 17px;
}

.pdr18 {
  padding-right: 18px;
}

.pdr19 {
  padding-right: 19px;
}

.pdr20 {
  padding-right: 20px;
}

.pdr21 {
  padding-right: 21px;
}

.pdr22 {
  padding-right: 22px;
}

.pdr23 {
  padding-right: 23px;
}

.pdr24 {
  padding-right: 24px;
}

.pdr25 {
  padding-right: 25px;
}

.pdr26 {
  padding-right: 26px;
}

.pdr27 {
  padding-right: 27px;
}

.pdr28 {
  padding-right: 28px;
}

.pdr29 {
  padding-right: 29px;
}

.pdr30 {
  padding-right: 30px;
}

.pdl0 {
  padding-left: 0;
}

.pdl1 {
  padding-left: 1px;
}

.pdl2 {
  padding-left: 2px;
}

.pdl3 {
  padding-left: 3px;
}

.pdl4 {
  padding-left: 4px;
}

.pdl5 {
  padding-left: 5px;
}

.pdl6 {
  padding-left: 6px;
}

.pdl7 {
  padding-left: 7px;
}

.pdl8 {
  padding-left: 8px;
}

.pdl9 {
  padding-left: 9px;
}

.pdl10 {
  padding-left: 10px;
}

.pdl11 {
  padding-left: 11px;
}

.pdl12 {
  padding-left: 12px;
}

.pdl13 {
  padding-left: 13px;
}

.pdl14 {
  padding-left: 14px;
}

.pdl15 {
  padding-left: 15px;
}

.pdl16 {
  padding-left: 16px;
}

.pdl17 {
  padding-left: 17px;
}

.pdl18 {
  padding-left: 18px;
}

.pdl19 {
  padding-left: 19px;
}

.pdl20 {
  padding-left: 20px;
}

.pdl21 {
  padding-left: 21px;
}

.pdl22 {
  padding-left: 22px;
}

.pdl23 {
  padding-left: 23px;
}

.pdl24 {
  padding-left: 24px;
}

.pdl25 {
  padding-left: 25px;
}

.pdl26 {
  padding-left: 26px;
}

.pdl27 {
  padding-left: 27px;
}

.pdl28 {
  padding-left: 28px;
}

.pdl29 {
  padding-left: 29px;
}

.pdl30 {
  padding-left: 30px;
}

.pdt0 {
  padding-top: 0;
}

.pdt1 {
  padding-top: 1px;
}

.pdt2 {
  padding-top: 2px;
}

.pdt3 {
  padding-top: 3px;
}

.pdt4 {
  padding-top: 4px;
}

.pdt5 {
  padding-top: 5px;
}

.pdt6 {
  padding-top: 6px;
}

.pdt7 {
  padding-top: 7px;
}

.pdt8 {
  padding-top: 8px;
}

.pdt9 {
  padding-top: 9px;
}

.pdt10 {
  padding-top: 10px;
}

.pdt11 {
  padding-top: 11px;
}

.pdt12 {
  padding-top: 12px;
}

.pdt13 {
  padding-top: 13px;
}

.pdt14 {
  padding-top: 14px;
}

.pdt15 {
  padding-top: 15px;
}

.pdt16 {
  padding-top: 16px;
}

.pdt17 {
  padding-top: 17px;
}

.pdt18 {
  padding-top: 18px;
}

.pdt19 {
  padding-top: 19px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt21 {
  padding-top: 21px;
}

.pdt22 {
  padding-top: 22px;
}

.pdt23 {
  padding-top: 23px;
}

.pdt24 {
  padding-top: 24px;
}

.pdt25 {
  padding-top: 25px;
}

.pdt26 {
  padding-top: 26px;
}

.pdt27 {
  padding-top: 27px;
}

.pdt28 {
  padding-top: 28px;
}

.pdt29 {
  padding-top: 29px;
}

.pdt30 {
  padding-top: 30px;
}

.pdb0 {
  padding-bottom: 0;
}

.pdb1 {
  padding-bottom: 1px;
}

.pdb2 {
  padding-bottom: 2px;
}

.pdb3 {
  padding-bottom: 3px;
}

.pdb4 {
  padding-bottom: 4px;
}

.pdb5 {
  padding-bottom: 5px;
}

.pdb6 {
  padding-bottom: 6px;
}

.pdb7 {
  padding-bottom: 7px;
}

.pdb8 {
  padding-bottom: 8px;
}

.pdb9 {
  padding-bottom: 9px;
}

.pdb10 {
  padding-bottom: 10px;
}

.pdb11 {
  padding-bottom: 11px;
}

.pdb12 {
  padding-bottom: 12px;
}

.pdb13 {
  padding-bottom: 13px;
}

.pdb14 {
  padding-bottom: 14px;
}

.pdb15 {
  padding-bottom: 15px;
}

.pdb16 {
  padding-bottom: 16px;
}

.pdb17 {
  padding-bottom: 17px;
}

.pdb18 {
  padding-bottom: 18px;
}

.pdb19 {
  padding-bottom: 19px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pdb21 {
  padding-bottom: 21px;
}

.pdb22 {
  padding-bottom: 22px;
}

.pdb23 {
  padding-bottom: 23px;
}

.pdb24 {
  padding-bottom: 24px;
}

.pdb25 {
  padding-bottom: 25px;
}

.pdb26 {
  padding-bottom: 26px;
}

.pdb27 {
  padding-bottom: 27px;
}

.pdb28 {
  padding-bottom: 28px;
}

.pdb29 {
  padding-bottom: 29px;
}

.pdb30 {
  padding-bottom: 30px;
}

.ma0 {
  margin: 0;
}

.ma1 {
  margin: 1px;
}

.ma2 {
  margin: 2px;
}

.ma3 {
  margin: 3px;
}

.ma4 {
  margin: 4px;
}

.ma5 {
  margin: 5px;
}

.ma6 {
  margin: 6px;
}

.ma7 {
  margin: 7px;
}

.ma8 {
  margin: 8px;
}

.ma9 {
  margin: 9px;
}

.ma10 {
  margin: 10px;
}

.ma11 {
  margin: 11px;
}

.ma12 {
  margin: 12px;
}

.ma13 {
  margin: 13px;
}

.ma14 {
  margin: 14px;
}

.ma15 {
  margin: 15px;
}

.ma16 {
  margin: 16px;
}

.ma17 {
  margin: 17px;
}

.ma18 {
  margin: 18px;
}

.ma19 {
  margin: 19px;
}

.ma20 {
  margin: 20px;
}

.ma21 {
  margin: 21px;
}

.ma22 {
  margin: 22px;
}

.ma23 {
  margin: 23px;
}

.ma24 {
  margin: 24px;
}

.ma25 {
  margin: 25px;
}

.ma26 {
  margin: 26px;
}

.ma27 {
  margin: 27px;
}

.ma28 {
  margin: 28px;
}

.ma29 {
  margin: 29px;
}

.ma30 {
  margin: 30px;
}

.mar0 {
  margin-right: 0;
}

.mal0 {
  margin-left: 0;
}

.mal1 {
  margin-left: 1px;
}

.mal2 {
  margin-left: 2px;
}

.mal3 {
  margin-left: 3px;
}

.mal4 {
  margin-left: 4px;
}

.mal5 {
  margin-left: 5px;
}

.mal6 {
  margin-left: 6px;
}

.mal7 {
  margin-left: 7px;
}

.mal8 {
  margin-left: 8px;
}

.mal9 {
  margin-left: 9px;
}

.mal10 {
  margin-left: 10px;
}

.mal11 {
  margin-left: 11px;
}

.mal12 {
  margin-left: 12px;
}

.mal13 {
  margin-left: 13px;
}

.mal14 {
  margin-left: 14px;
}

.mal15 {
  margin-left: 15px;
}

.mal16 {
  margin-left: 16px;
}

.mal17 {
  margin-left: 17px;
}

.mal18 {
  margin-left: 18px;
}

.mal19 {
  margin-left: 19px;
}

.mal20 {
  margin-left: 20px;
}

.mal21 {
  margin-left: 21px;
}

.mal22 {
  margin-left: 22px;
}

.mal23 {
  margin-left: 23px;
}

.mal24 {
  margin-left: 24px;
}

.mal25 {
  margin-left: 25px;
}

.mal26 {
  margin-left: 26px;
}

.mal27 {
  margin-left: 27px;
}

.mal28 {
  margin-left: 28px;
}

.mal29 {
  margin-left: 29px;
}

.mal30 {
  margin-left: 30px;
}

.mar1 {
  margin-right: 1px;
}

.mar2 {
  margin-right: 2px;
}

.mar3 {
  margin-right: 3px;
}

.mar4 {
  margin-right: 4px;
}

.mar5 {
  margin-right: 5px;
}

.mar6 {
  margin-right: 6px;
}

.mar7 {
  margin-right: 7px;
}

.mar8 {
  margin-right: 8px;
}

.mar9 {
  margin-right: 9px;
}

.mar10 {
  margin-right: 10px;
}

.mar11 {
  margin-right: 11px;
}

.mar12 {
  margin-right: 12px;
}

.mar13 {
  margin-right: 13px;
}

.mar14 {
  margin-right: 14px;
}

.mar15 {
  margin-right: 15px;
}

.mar16 {
  margin-right: 16px;
}

.mar17 {
  margin-right: 17px;
}

.mar18 {
  margin-right: 18px;
}

.mar19 {
  margin-right: 19px;
}

.mar20 {
  margin-right: 20px;
}

.mar21 {
  margin-right: 21px;
}

.mar22 {
  margin-right: 22px;
}

.mar23 {
  margin-right: 23px;
}

.mar24 {
  margin-right: 24px;
}

.mar25 {
  margin-right: 25px;
}

.mar26 {
  margin-right: 26px;
}

.mar27 {
  margin-right: 27px;
}

.mar28 {
  margin-right: 28px;
}

.mar29 {
  margin-right: 29px;
}

.mar30 {
  margin-right: 30px;
}

.mat0 {
  margin-top: 0;
}

.mat1 {
  margin-top: 1px;
}

.mat2 {
  margin-top: 2px;
}

.mat3 {
  margin-top: 3px;
}

.mat4 {
  margin-top: 4px;
}

.mat5 {
  margin-top: 5px;
}

.mat6 {
  margin-top: 6px;
}

.mat7 {
  margin-top: 7px;
}

.mat8 {
  margin-top: 8px;
}

.mat9 {
  margin-top: 9px;
}

.mat10 {
  margin-top: 10px;
}

.mat11 {
  margin-top: 11px;
}

.mat12 {
  margin-top: 12px;
}

.mat13 {
  margin-top: 13px;
}

.mat14 {
  margin-top: 14px;
}

.mat15 {
  margin-top: 15px;
}

.mat16 {
  margin-top: 16px;
}

.mat17 {
  margin-top: 17px;
}

.mat18 {
  margin-top: 18px;
}

.mat19 {
  margin-top: 19px;
}

.mat20 {
  margin-top: 20px;
}

.mat21 {
  margin-top: 21px;
}

.mat22 {
  margin-top: 22px;
}

.mat23 {
  margin-top: 23px;
}

.mat24 {
  margin-top: 24px;
}

.mat25 {
  margin-top: 25px;
}

.mat26 {
  margin-top: 26px;
}

.mat27 {
  margin-top: 27px;
}

.mat28 {
  margin-top: 28px;
}

.mat29 {
  margin-top: 29px;
}

.mat30 {
  margin-top: 30px;
}

.mab0 {
  margin-bottom: 0;
}

.mab1 {
  margin-bottom: 1px;
}

.mab2 {
  margin-bottom: 2px;
}

.mab3 {
  margin-bottom: 3px;
}

.mab4 {
  margin-bottom: 4px;
}

.mab5 {
  margin-bottom: 5px;
}

.mab6 {
  margin-bottom: 6px;
}

.mab7 {
  margin-bottom: 7px;
}

.mab8 {
  margin-bottom: 8px;
}

.mab9 {
  margin-bottom: 9px;
}

.mab10 {
  margin-bottom: 10px;
}

.mab11 {
  margin-bottom: 11px;
}

.mab12 {
  margin-bottom: 12px;
}

.mab13 {
  margin-bottom: 13px;
}

.mab14 {
  margin-bottom: 14px;
}

.mab15 {
  margin-bottom: 15px;
}

.mab16 {
  margin-bottom: 16px;
}

.mab17 {
  margin-bottom: 17px;
}

.mab18 {
  margin-bottom: 18px;
}

.mab19 {
  margin-bottom: 19px;
}

.mab20 {
  margin-bottom: 20px;
}

.mab21 {
  margin-bottom: 21px;
}

.mab22 {
  margin-bottom: 22px;
}

.mab23 {
  margin-bottom: 23px;
}

.mab24 {
  margin-bottom: 24px;
}

.mab25 {
  margin-bottom: 25px;
}

.mab26 {
  margin-bottom: 26px;
}

.mab27 {
  margin-bottom: 27px;
}

.mab28 {
  margin-bottom: 28px;
}

.mab29 {
  margin-bottom: 29px;
}

.mab30 {
  margin-bottom: 30px;
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row-space-between-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-row-space-between-nowrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flex-center-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-center-nowrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
