html,
body,
#app {
  height: 100%;
  font-size: 12px;
  font-family: 华文黑体, "Microsoft YaHei", 微软雅黑, STHei, "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  color: #333;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  list-style-type: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.color000 {
  color: #000;
}

.color111 {
  color: #111;
}

.color222 {
  color: #222;
}

.color333 {
  color: #333;
}

.color444 {
  color: #444;
}

.color555 {
  color: #555;
}

.color666 {
  color: #666;
}

.color777 {
  color: #777;
}

.color888 {
  color: #888;
}

.color999 {
  color: #999;
}

.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-primary {
  color: #1890ff;
}

.color-success {
  color: #52c41a;
}

.color-warning {
  color: #faad14;
}

.color-error {
  color: #f5222d;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-primary {
  background-color: #1890ff;
}

.bg-success {
  background-color: #52c41a;
}

.bg-warning {
  background-color: #faad14;
}

.bg-error {
  background-color: #f5222d;
}

.font12px {
  font-size: 12px;
}

.font13px {
  font-size: 13px;
}

.font14px {
  font-size: 14px;
}

.font15px {
  font-size: 15px;
}

.font16px {
  font-size: 16px;
}

.font17px {
  font-size: 17px;
}

.font18px {
  font-size: 18px;
}

.font19px {
  font-size: 19px;
}

.font20px {
  font-size: 20px;
}

.font21px {
  font-size: 21px;
}

.font22px {
  font-size: 22px;
}

.font23px {
  font-size: 23px;
}

.font24px {
  font-size: 24px;
}

.font25px {
  font-size: 25px;
}

.font26px {
  font-size: 26px;
}

.font27px {
  font-size: 27px;
}

.font28px {
  font-size: 28px;
}

.font29px {
  font-size: 29px;
}

.font30px {
  font-size: 30px;
}

.pd0 {
  padding: 0;
}

.pd1 {
  padding: 1px;
}

.pd2 {
  padding: 2px;
}

.pd3 {
  padding: 3px;
}

.pd4 {
  padding: 4px;
}

.pd5 {
  padding: 5px;
}

.pd6 {
  padding: 6px;
}

.pd7 {
  padding: 7px;
}

.pd8 {
  padding: 8px;
}

.pd9 {
  padding: 9px;
}

.pd10 {
  padding: 10px;
}

.pd11 {
  padding: 11px;
}

.pd12 {
  padding: 12px;
}

.pd13 {
  padding: 13px;
}

.pd14 {
  padding: 14px;
}

.pd15 {
  padding: 15px;
}

.pd16 {
  padding: 16px;
}

.pd17 {
  padding: 17px;
}

.pd18 {
  padding: 18px;
}

.pd19 {
  padding: 19px;
}

.pd20 {
  padding: 20px;
}

.pd21 {
  padding: 21px;
}

.pd22 {
  padding: 22px;
}

.pd23 {
  padding: 23px;
}

.pd24 {
  padding: 24px;
}

.pd25 {
  padding: 25px;
}

.pd26 {
  padding: 26px;
}

.pd27 {
  padding: 27px;
}

.pd28 {
  padding: 28px;
}

.pd29 {
  padding: 29px;
}

.pd30 {
  padding: 30px;
}

.ma0 {
  margin: 0;
}

.ma1 {
  margin: 1px;
}

.ma2 {
  margin: 2px;
}

.ma3 {
  margin: 3px;
}

.ma4 {
  margin: 4px;
}

.ma5 {
  margin: 5px;
}

.ma6 {
  margin: 6px;
}

.ma7 {
  margin: 7px;
}

.ma8 {
  margin: 8px;
}

.ma9 {
  margin: 9px;
}

.ma10 {
  margin: 10px;
}

.ma11 {
  margin: 11px;
}

.ma12 {
  margin: 12px;
}

.ma13 {
  margin: 13px;
}

.ma14 {
  margin: 14px;
}

.ma15 {
  margin: 15px;
}

.ma16 {
  margin: 16px;
}

.ma17 {
  margin: 17px;
}

.ma18 {
  margin: 18px;
}

.ma19 {
  margin: 19px;
}

.ma20 {
  margin: 20px;
}

.ma21 {
  margin: 21px;
}

.ma22 {
  margin: 22px;
}

.ma23 {
  margin: 23px;
}

.ma24 {
  margin: 24px;
}

.ma25 {
  margin: 25px;
}

.ma26 {
  margin: 26px;
}

.ma27 {
  margin: 27px;
}

.ma28 {
  margin: 28px;
}

.ma29 {
  margin: 29px;
}

.ma30 {
  margin: 30px;
}
