.vue-codemirror {
  height: 100%;
}

.CodeMirror {
  font-size: 12px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "Source Code Pro",
    "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.CodeMirror-hints {
  z-index: 19960303;
}
